h1{
    background-color: aqua;
    text-decoration: blue;
}

.work_with_div{
    border: blue 8px solid;
    font-style: italic;
    font-size: 30px;
}

.work_with_text{
    background-color: black;
    color: blanchedalmond;
    font-size: large;

}